<div>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">Hinged/Never Hinged</h4>
          <p class="card-text">
            <canvas 
              id="trends-hinge-quality" 
              phx-hook="hingeQuality" 
              data-hinged={@hinged}
              data-never-hinged={@never_hinged}
            />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>