<.live_component 
  module={KamanskyWeb.Components.Header} 
  id="kamansky-header"
  current_user={@current_user}
  live_action={@live_action}
/>
<main role="main" class="bg-white mx-auto my-3 p-8 w-11/12">
  <KamanskyWeb.Components.Page.success_message flash={@flash}/>
  <%= @inner_content %>
</main>
<KamanskyWeb.Components.Page.confirmation_modal />